[submodule "contrib/deterministic-build/electrum-sum-locale"]
	path = contrib/deterministic-build/electrum-sum-locale
	url = https://github.com/Tech1k/electrum-sum-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
